node_modules/
.svelte-kit/

.obsidian/

dist/
.astro/
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE settings
.vscode/
.idea/

# environment variables
**/.env*

# macOS-specific files
.DS_Store

# Test ouput
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

