@theme{
	--font-weight-*: initial;

	--text-h1: 3rem;
	--text-h2: 2.4375rem;
	--text-h3: 2.0625rem;
	--text-h4: 1.6875rem;
	--text-h5: 1.4375rem;
	--text-h6: 1.1875rem;
	--text-base: 1rem;
	--text-sm: .8125rem;
	--text-xs: .6875rem;
	
	--text-h1--line-height: 1.25;
	--text-h2--line-height: 1.25;
	--text-h3--line-height: 1.25;
	--text-h4--line-height: 1.25;
	--text-h5--line-height: 1.25;
	--text-h6--line-height: 1.5;
	--text-base--line-height: 1.5;
	--text-sm--line-height: 1.5;
	--text-xs--line-height: 1.5;

	--font-weight-regular: 400;
	--font-weight-bold: 600;
}

@layer base{
	body{
		font-weight: var(--font-weight-regular);
		font-family: "Work Sans","Inter",system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: var(--color-text-body);
	}

    b,strong{
        font-weight: var(--font-weight-bold);
    }
	
	h1{
		@apply text-h1;
	}
	
	h2{
		@apply text-h2;
	}
	
	h3{
		@apply text-h3;
	}
	
	h4{
		@apply text-h4;
	}
	
	h5{
		@apply text-h5;
	}
	
	h6{
		@apply text-h6;
	}
	
	p{
		@apply text-base;
	}
	
	h1,h2,h3,h4,h5,h6{
		@apply text-text-heading;
	}
}

