---
import Subscribe from "./Subscribe.svelte";
---

<footer>
    <a href="/">
        <h3>WAKU</h3>
    </a>
    <div class="flex flex-col gap-12 max-sm:items-center">
        <h5 class="text-text-muted">Contact</h5>
        <ul class="flex flex-col gap-8 max-sm:items-center">
            <li>
                <a href="https://github.com/snubwoody" class="link w-fit">Github</a>
            </li>
            <li>
                <a href="mailto:wakunguma13@gmail.com" class="link w-fit">Email</a>
            </li>
        </ul>
    </div>
    <Subscribe client:load/>
</footer>

<style>
    footer{
        padding: 44px 64px;
        display: flex;
        gap: 32px;
        border-top: 1px solid var(--color-border-neutral);
        justify-content: space-between;
        
        @media (width < 40rem){
            padding: 20px;
            align-items: center;
            flex-direction: column;
        }
    }
</style>
