---
import { getCollection } from "astro:content";

let articles = await getCollection("articles", (post) => {
    return post.data.preview !== true;
});

shuffle(articles);

function shuffle(array) {
    let currentIndex = array.length;

    // While there remain elements to shuffle...
    while (currentIndex !== 0) {
        // Pick a remaining element...
        let randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        // And swap it with the current element.
        [array[currentIndex], array[randomIndex]] = [
            array[randomIndex],
            array[currentIndex],
        ];
    }
}
articles = articles.splice(0, 5);
---

<div class="space-y-8">
    <h6>Similar articles</h6>
    <ul class="space-y-4">
        {
            articles.map((article) => (
                <>
                    <a
                        href={`/blog/${article.id}`}
                        class="flex items-center justify-between text-accent"
                    >
                        <p>{article.data.title}</p>
                    </a>
                </>
            ))
        }
    </ul>
</div>
